  .my-masonry-grid {
    display: flex;
    margin-left: 3rem; /* gutter size offset */
    width: 1150px;
  }
  .my-masonry-grid_column {
    padding-left: 1rem; /* gutter size */
    background-clip: padding-box;
  }
  .my-masonry-grid_column > div {
    margin-bottom: 1rem;
  }

@media (min-width: 480px) {
  .my-masonry-grid {
    margin-left: 3rem; /* gutter size offset */
  }
}

@media (min-width: 768px) {
  .my-masonry-grid {
    margin-left: 2.25rem; /* gutter size offset */
  }
}

@media (min-width: 1280px) {
  .my-masonry-grid {
    margin-left: -0.75rem; /* gutter size offset */
  }
}