.EightHealthKeysWrapperComponent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.WaterCardContainer {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: baseline;
    width: 350px;
    height: 90vh;
    overflow: hidden;
    box-shadow: 0px 5px 5px var(--color-shadow);
    border-radius: 10px;
    border: 2px solid var(--color-white);
}

.WaterCardBackgroundImage {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(20px);
    pointer-events: none;
}

.WaterImageAppearance {
    position: absolute;
    bottom: 50px;
    width: calc(100% - 20px);
    height: calc(90vh - 260px);
    border-radius: 5px;
    object-fit: cover;
    box-shadow: inset 0px 0px 10px var(--color-shadow);
}

.ContentCardContainer {
    margin-top: 10px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    width: calc(100% - 20px);
    height: 190px;
    background-color: var(--color-dark-transparent);
    backdrop-filter: blur(20px);
    transition: all 0.5s ease;
    border-radius: 5px;
    box-shadow: inset 0px 0px 10px var(--color-shadow);
    z-index: 1;
    overflow: hidden;
}
.CollapsedContentCardContainer {
    height: calc(100% - 20px);
    transition: all 0.5s ease;
}
.CardParagraph {
    color: var(--color-white);
    font-family: var(--font-theme-secondary);
    font-weight: 550;
    margin: 15px;
    text-shadow: 0px 1px 1px var(--color-text-title);
}

.WaterCardHeader {
    color: var(--color-white);
    font-family: var(--font-theme-primary);
    text-shadow: 0px 2.5px 2.5px var(--color-text-title);
    border-radius: 10px;
    margin: 15px;
}

.HeaderRow {
    color: var(--color-white-transparent);
    width: calc(100% - 30px);
    margin-bottom: 15px;
}

.PhotoCredits {
    position: absolute;
    bottom: 0px;
    color: var(--color-white);
    text-shadow: 0px 1px 1px var(--color-text-title);
    font-family: var(--font-theme-secondary);
    font-weight: 550;
}
.PhotoCreditsLink {
    color: var(--color-theme-primary-light);
    text-decoration: none;
    font-family: var(--font-theme-secondary);
    font-weight: 550;
}
.PhotoCreditsLink:hover {
    text-decoration: underline;
}

.CollapseButton {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    color: var(--color-white);
    font-family: var(--font-theme-secondary);
    font-weight: 550;
    font-size: 17.5px;
    text-shadow: 0px 1px 1px var(--color-text-title);
    border: 1.5px solid var(--color-white);
    background-color: rgba(0,0,0,0);
    box-shadow: inset 0px 0px 5px var(--color-shadow);
    margin-top: 15px;
    transition: all 0.15s ease;
}
.CollapseButton:hover {
    color: var(--color-theme-secondary-light);
    border-color: var(--color-theme-secondary-light);
}
.CollapseButton:active {
    box-shadow: inset 0px 0px 15px var(--color-shadow);
}