.EightHealthKeysWrapperComponent {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 1rem;
}

@media (min-width: 768px) {
    .EightHealthKeysWrapperComponent {
        width: 100%;
    }

}