.NaturalMedicineWrapperView {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

/*
.Title {
    font-family: var(--font-theme-primary);
    color: var(--color-theme-primary);
    text-align: center;
}
.AlternativeTitle {
    font-family: var(--font-theme-primary);
    color: var(--color-white);
    text-shadow: 0px 1px 1px var(--color-shadow);
}


.Paragraph {
    font-family: var(--font-theme-secondary);
    color: var(--color-text-paragraph);
    margin-top: 10px;
}
.AlternativeParagraph,
.AlternativeListItem {
    font-family: var(--font-theme-secondary);
    color: var(--color-white);
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 2px;
    text-shadow: 0px 1px 1px var(--color-shadow);
    font-weight: 500;
}

.AlternativeListItem {
    margin-left: 40px;
}

.ExternalLink {
    font-family: var(--font-theme-secondary);
    color: var(--color-theme-secondary);
}

.TableSize {
    width: calc(100% - 50px);
    padding: 25px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid var(--color-white-transparent);
}
*/
.ThirdsBreaker {
    margin-top: 30px;
    margin-bottom: 30px;
}
/*
.NavLink {
    color: var(--color-theme-primary);
}
.NavLink:hover {
    color: var(--color-cave);
}
    */