.HerbsForHumansWrapperView {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 40px;
}

.HerbInfoView {
    width: 85%;
}

.Title {
    font-family: var(--font-theme-primary);
    color: var(--color-theme-primary);
    text-align: center;
}

.LineBreak {
    border: 1px solid var(--color-theme-primary);
    width: 85%;
    margin-top: 50px;
}

.Paragraph {
    font-family: var(--font-theme-secondary);
    color: var(--color-text-paragraph);
}

.ExternalLink {
    font-family: var(--font-theme-secondary);
    color: var(--color-theme-secondary);
}

.InternalLink {
    font-family: var(--font-theme-secondary);
    color: var(--color-theme-primary);
    text-decoration: none;
}
.InternalLink:hover {
    text-decoration: underline;
}