.AbuseWrapperView {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px;
}

.Title {
    font-family: var(--font-theme-primary);
    color: var(--color-theme-primary);
    text-align: center;
}

.Paragraph {
    font-family: var(--font-theme-secondary);
    color: var(--color-text-paragraph);
    color: var(--color-white);
}

.ExternalLink {
    font-family: var(--font-theme-secondary);
    color: var(--color-theme-secondary);
}

.AddictionSection {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}