.HeaderComponentContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
    width: 100%;
}

.Logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 80px;
    background-color: rgba(0,0,0,0);
    border: none;
    border-bottom: 2px solid rgba(0,0,0,0);
    text-decoration: none;
    transition: all 0.1s ease;
}
.Logo:hover {
    border-bottom: 2px solid var(--color-cave);
    cursor: pointer;
}
.LogoIcon {
    width: 75px;
    height: auto;
    pointer-events: none;
    margin-right: 15px;
    pointer-events: none;
}
.LogoTitle {
    position: relative;
    font-family: var(--font-theme-primary);
    color: var(--color-cave);
    top: 15px;
    pointer-events: none;
}

.SearchBar {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 15px;
    bottom: 50px;

        /* search bar is temporarily disabled */
        opacity: 0;
        pointer-events: none;
}
.SearchInputField {
    display: flex;
    justify-content: center;
    align-items: baseline;
    border-radius: 50px;
    border: 2px solid var(--color-shadow);
    background-color: var(--color-white);
    color: rgba(0,0,0,0);
    box-shadow: 0px 2.5px 2.5px var(--color-shadow);
    overflow: hidden;
    width: 40px;
    height: 40px;
    font-size: 15px;
    padding-left: 0px;
    transition: all 0.25s ease;
}
.SearchInputField:focus,
.SearchInputField:hover {
    width: 250px;
    padding-left: 15px;
    color: var(--color-text-paragraph);
}
.SearchIcon {
    position: absolute;
    right: 0px;
    width: auto;
    height: 100%;
    pointer-events: none;
    fill: var(--color-text-paragraph);
}

@media (min-width: 768px) {
    .SearchBar {
        position: absolute;
        right: 0px;
        bottom: 15px;
    }
    .SearchInputField {
        width: 250px;
        padding-left: 15px;
        color: var(--color-text-paragraph);
    }
}