.Title {
    font-family: var(--font-theme-primary);
    color: var(--color-theme-primary);
    text-align: center;
}

.Paragraph {
    font-family: var(--font-theme-secondary);
    color: var(--color-text-paragraph);
}

.ExternalLink {
    font-family: var(--font-theme-secondary);
    color: var(--color-theme-secondary);
}