body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-wallpaper);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* theme variables */
:root {
  --color-theme-primary: #3B7B88;
  --color-theme-primary-light: #afe3ed;
  --color-theme-secondary: #f9b000;
  --color-theme-secondary-light: rgb(245, 215, 175);
  --color-cave: #255760; /* matching the png "cave" logo */
  --color-text-title: #373635;
  --color-text-paragraph: #7c786f;
  --color-wallpaper: #F7F5F0;
  --color-white: #ffffff;
  --color-white-transparent: rgba(250, 250, 250, 0.5);
  --color-dark: rgb(45, 50, 55);
  --color-dark-transparent: rgba(45, 50, 55, 0.5);
  --color-footer: #a29e93;
  --color-footer-link: #d6d1c2;
  --color-copyright: #7c786f;
  --color-dark-background: rgb(50,50,50);
  --color-dark-background-transparent: rgba(10,10,10,0.5);
  --color-shadow: rgba(0,0,0,0.25);

  --font-theme-primary: "Merriweather", serif;
  --font-theme-secondary: "Montserrat", sans-serif;

  --breakpoint-small: 480px;
  --breakpoint-medium: 768px;
  --breakpoint-large: 1280px;
}